/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 3 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a :hover {
  text-decoration: none;
}

/** header **/

header .fas {
  margin-left: 50%;
  margin-right: 10px;
}

header #number {
  font-size: 15px;
  padding-left: 10px;
  color: #fff;
}

header .navbar-nav {
  margin-left: 25%;
}

/** Footer**/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .navbar-nav {
  margin: auto;
  text-align: center;
}

/** home page **/

.products-items {
  margin: 225px 0;
  border: 25px solid transparent;
  padding: 5%;
}

.products div i {
  margin-top: 100px;
  font-size: 50px;
}

.products a {
  color: #000;
  text-decoration: none;
}

/**Product list page**/


#products-list{
  margin-top: 50px;
  margin-bottom: 150px;
}
.products-list_teddy{
  margin: 30px 0px;
  padding: 20px;
  border: 20px solid transparent;
}
.products-list_teddy .btn{
  background-color: rgb(46, 78, 78); /* Green */
  border: 1px solid #333;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}


.products-list_teddy .btn:hover{
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
}


.card-body{
  background-color: rgb(246, 246, 246);
}
/** Teddy page **/

.teddys_display {
  background-color: #fff;
  padding-bottom: 150px;
  padding-top: 60px;
}

.teddy h1,
p {
  margin-bottom: 5%;
}

.teddy img {
  margin: auto;
  width: 250px;
  display: none;
}

.teddy #description {
  margin-top: 25px;
}

.price {
  font-weight: 900;
  color: rgb(46, 78, 78);
}

.teddy #choose-color {
  display: none;
}


.teddy select {
  background-color: rgb(46, 78, 78); /* Green */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}
.teddy #divBtn {
  margin: auto;
  display: none;
}

.teddy #btn {
  background-color: rgb(46, 78, 78); /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
  margin-bottom: 30px;
}

.teddy #btn:hover {
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
}

.teddy #arrow{
  font-size: 25px;
  color : #333;
  margin-bottom: 25px;
  padding-bottom: 2px;
  text-decoration: none;
}
.teddy #arrow:hover{
  font-size: 25px;
  color : rgb(46, 78, 78);
  border-bottom: 1px solid rgb(46, 78, 78);
}

#issendtocart {
  font-weight: 900;
  color: #333;
  padding: 20px 10px;
  max-width: 300px;
  margin: auto;
  transition: 300ms ease;
  background-color: #bcf5bc;
  display: none;
  margin-bottom: 25px;
  margin-top: 5px;
}

/** Cart **/
.empty {
  margin-top: 250px;
  line-height: 80px;
  text-align: center;
}

#mainBalise h1 {
  padding-top: 50px;
  text-align: center;
}

#mainBalise #tableau {
  margin: auto;
  width: 50%;
  margin-top: 100px;
}
#mainBalise #tableau #tblEntry {
  height: 50px;
  padding: 0;
  color: #fff;
  background-color: rgb(46, 78, 78);
}

#mainBalise th {
  padding-bottom: 20px;
  font-size: 16px;
  height: 50px;
}

.btnLine {
  background-color: rgb(46, 78, 78); /* Green */
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  text-align: center;
  font-size: 10px;
  cursor: pointer;
  -webkit-transition: 100ms ease;
  -o-transition: 100ms ease;
  transition: 100ms ease;
  margin-top: 15px;
  margin-left: 25px;
}
.btnLine:hover {
  background-color: rgb(206, 59, 59);
}

#mainBalise #total {
  margin-top: 70px;
}

#mainBalise #cartForm {
  margin-top: 100px;
  margin-bottom: 200px;
}
#mainBalise #cartForm form {
  font-weight: 600;
}

#envoiDuPanier {
  background-color: rgb(46, 78, 78); /* Green */
  color: white;
  font-size: 20px;
  margin-top: 30px;
  -webkit-transition: 300ms ease;
  -o-transition: 300ms ease;
  transition: 300ms ease;
}

#envoiDuPanier:hover {
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
}

/*Modal alert form error*/
#modal {
  z-index: 100000;
  display: none;
  position: absolute;
  left: 0px;
  top: 60%;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: 1000;
}
#closemodal {
  background-color: rgb(46, 78, 78); /* Green */
  color: white;
}
#closemodal:hover {
  color: #333;
  background-color: #fff;
  border: solid 1px #333;
}

#modal div {
  width: 300px;
  margin: 100px auto;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  font-weight: 600;
}

.thanks {
  margin-top: 15%;
  font-size: 20px;
  text-align: center;
  line-height: 40px;
}
/*Animation loading */

.lds-spinner {
  display: none;
  margin: auto;
  top: 50px;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  -webkit-transform-origin: 40px 40px;
  -ms-transform-origin: 40px 40px;
  transform-origin: 40px 40px;
  -webkit-animation: lds-spinner 1.2s linear infinite;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: rgb(46, 78, 78);
}
.lds-spinner div:nth-child(1) {
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg);
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg);
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg);
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg);
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg);
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg);
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg);
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg);
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
@-webkit-keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
