



/*Teddy_Sale*/
.teddy {
  display: flex;
  flex-direction: row;
  flex: wrap;
  align-content: center;
}



.teddy #description{
  margin-top: 25px;
  text-align: left;
}


.teddy #product {
  margin-top: 100px;
  margin-left: 20%;
}

.teddy ul {
  margin-top: 60px;
}
.teddy li {
  font-size: 18px;
  font-weight: 300;
  list-style: none;
  cursor: pointer;
  margin-right: 10px;
  margin-left: 25px;
  padding-top: 10%;
  width: 200px;
}
.teddy li:hover {
  font-weight: 600;
}

.teddy #choose-color {
  text-align: center;
  display: none;
}
#no-selection{
    margin-top: 180px;
}

.teddy select{
    background-color: #333; /* Green */
    border: none;
    color: white;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}
.teddy #btn{
    display: none;
}

.teddy #btn button{
    background-color: #333; /* Green */
    border: none;
    border-radius: 5px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    transition: 300ms ease;
}





/*Page Panier*/

