body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
a :hover {
  text-decoration: none;
}

/** header **/

header .fas {
  margin-left: 50%;
  margin-right: 10px;
}

header #number {
  font-size: 15px;
  padding-left: 10px;
}

header .navbar-nav {
  margin-left: 25%;
}

/** Footer**/

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer .navbar-nav {
  margin: auto;
  text-align: center;
}

/** Product home page **/

.products-items {
  margin: 225px 0;
  border: 25px solid transparent;
  padding: 5%;
}

.products div i {
  margin-top: 100px;
  font-size: 50px;
}

.products a {
  color: #000;
  text-decoration: none;
}
