
h1,p{
    text-align: center;
}

img{
    
    margin: auto;
    width: 30%;
    display: none;
}
#product{
    
    margin-top: 5%;
}
nav{
   text-align:center;
   margin: 0;
   padding: 0;
}
ul{
    padding: 2% 0;
    background-color: #dddddd;
    margin: 0;
}

li{
    font-size: 1.5em;
    font-weight: 600;
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin-right: 25px;

    
}
li:hover{
border-bottom: 1px solid black;
   
}

#choose-color{
    text-align: center;
    display: none;
}